<h1>Home</h1>

<button ng-if="!shouldHideLetsDoThis" class="btn btn-primary" ng-click="onLetsDoThisClicked()">Let's do this</button>
<button
        ng-if="shouldHideLetsDoThis"
        ng-disabled="isLoadingCompData"
        class="btn btn-primary" ng-click="onRefreshOldClicked()">Refresh the old ones</button>

<div>
    <span style="font-weight:bold;">Total Comps:</span>
    <span>
        {{model.totalCompDefs}}
    </span>
</div>

<div>
    <span>Status: {{model.status}}</span>
</div>

<div>

    <table class="table table-condensed">
        <tbody>
            <tr ng-repeat-start="coin in model.comps"></tr>

            <tr>
                <td>
                    <button class="btn" style="font-weight:bold;" ng-click="onToggleExpandClicked(coin)">
                        {{coin.isExpanded ? "-" : "+"}}
                    </button>
                </td>
                <td colspan="4" style="font-size:24px;font-weight:bold;">
                    <a target="_blank" style="text-decoration:none;" class="clickable" ui-sref="commodity-detail({symbol: coin.symbol.toUpperCase()})"><commodity-logo symbol="coin.symbol"></commodity-logo>&nbsp;{{coin.symbol.toUpperCase()}}</a> /  {{coin.baseSymbol.toUpperCase()}}&nbsp;<commodity-logo symbol="coin.baseSymbol"></commodity-logo>
                    <span ng-if="!coin.isExpanded">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span>
                            <a target="_blank" ui-sref="exchange-detail({id: coin.exchanges[0].name.toLowerCase()})">
                                <exchange-logo exchange="coin.exchanges[0].name"></exchange-logo>
                                {{coin.exchanges[0].name}}
                            </a>
                        </span>

                        &nbsp;&nbsp;

                        <span>
                            <a target="_blank" ui-sref="exchange-detail({id: coin.exchanges[1].name.toLowerCase()})">
                                <exchange-logo exchange="coin.exchanges[1].name"></exchange-logo>
                                {{coin.exchanges[1].name}}
                            </a>
                        </span>
                    </span>

                    <span ng-if="!coin.isExpanded">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>

                    <span ng-if="!coin.isExpanded" ng-class="{profitableStyle: coin.profitPercentage > 0}">
                        <span style="font-weight:bold;">Profit:</span>
                        <span>
                            {{coin.profitPercentage.toFixed(2)}}%
                        </span>
                    </span>

                    <span>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button ng-disabled="coin.isRefreshing" class="btn btn-md btn-primary" ng-click="onRefreshCompClicked(coin)">Refresh</button>
                    </span>
                </td>
                <td></td>
            </tr>

            <tr ng-if="coin.isExpanded">
                <td></td>
                <td ng-class="{'profitableStyle': coin.exchanges[0].profit > 0, 'notProfitableStyle': !(coin.exchanges[0].profit) }"
                    colspan="2">
                    {{coin.exchanges[0].name}} to {{coin.exchanges[1].name}} Profit: {{coin.exchanges[0].profitPercentageDisplayText}}
                    <div ng-show="coin.exchanges[0].withdrawalFee">
                        {{coin.exchanges[0].name}} Withdrawal Fee: {{coin.exchanges[0].withdrawalFee}}
                    </div>
                    <div ng-show="coin.exchanges[0].breakEvenQuantity">
                        Break Even Trade Quantity: {{coin.exchanges[0].breakEvenQuantity}}
                    </div>
                    <div ng-if="coin.exchanges[0].orderBookAsOf">
                        <div>As of: {{coin.exchanges[0].orderBookAsOf | localTime}}</div>
                        <div>{{coin.exchanges[0].orderBookAsOf | ago}}</div>
                    </div>
                </td>
                <td ng-class="{'profitableStyle': coin.exchanges[1].profit > 0, 'notProfitableStyle': !(coin.exchanges[1].profit) }"
                    colspan="2">
                    {{coin.exchanges[1].name}} to {{coin.exchanges[0].name}} Profit: {{coin.exchanges[1].profitPercentageDisplayText}}
                    <div ng-if="coin.exchanges[1].withdrawalFee">
                        {{coin.exchanges[1].name}} Withdrawal Fee: {{coin.exchanges[1].withdrawalFee}}
                    </div>
                    <div ng-if="coin.exchanges[1].breakEvenQuantity">
                        Break Even Trade Quantity: {{coin.exchanges[1].breakEvenQuantity}}
                    </div>
                    <div ng-if="coin.exchanges[1].orderBookAsOf">
                        As of: {{coin.exchanges[1].orderBookAsOf | localTime}}
                        <div>{{coin.exchanges[1].orderBookAsOf | ago}}</div>
                    </div>
                    </>
            </tr>
            <tr ng-if="coin.isExpanded">
                <td></td>
                <td colspan="2" style="font-size:24px;font-weight:bold;">
                    <table>
                        <tr>
                            <td>
                                <div>
                                    <a target="_blank" ui-sref="exchange-detail({id: coin.exchanges[0].name.toLowerCase()})">
                                        <exchange-logo exchange="coin.exchanges[0].name"></exchange-logo>
                                        &nbsp;
                                        {{coin.exchanges[0].name}}
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <div style="font-size:8px;" ng-if="coin.exchanges[0].commodityCanonicalId">[{{coin.exchanges[0].commodityCanonicalId}}]</div>
                                <div style="font-size:14px;" ng-if="coin.exchanges[0].commodityName">
                                    <a target="_blank"
                                       ui-sref="exchange-commodity-detail({exchange: coin.exchanges[0].name, nativeSymbol: coin.exchanges[0].nativeSymbol})">
                                        {{coin.exchanges[0].commodityName}} ({{coin.exchanges[0].nativeSymbol}})
                                    </a>
                                </div>
                                <div style="font-size:14px;" ng-if="coin.exchanges[0].canDeposit !== undefined && coin.exchanges[0].canDeposit !== null">
                                    Can Deposit:
                                    <i ng-if="coin.exchanges[0].canDeposit === true" class="fa fa-check" style="color:green;"></i>
                                    <i ng-if="coin.exchanges[0].canDeposit === false" class="fa fa-close" style="color:red;"></i>
                                    <i ng-if="coin.exchanges[0].canDeposit=== undefined || coin.exchanges[0].canDeposit === null" class="fa fa-question" style="color:blue;"></i>
                                </div>
                                <div style="font-size:14px;">
                                    Can Withdraw:
                                    <i ng-if="coin.exchanges[0].canWithdraw === true" class="fa fa-check" style="color:green;"></i>
                                    <i ng-if="coin.exchanges[0].canWithdraw === false" class="fa fa-close" style="color:red;"></i>
                                    <i ng-if="coin.exchanges[0].canWithdraw=== undefined || coin.exchanges[0].canWithdraw === null" class="fa fa-question" style="color:blue;"></i>
                                </div>
                                <div style="font-size:14px;"
                                     ng-repeat="custom in coin.exchanges[0].customValues">
                                    <span style="font-weight:bold;">
                                        {{custom.key}}:&nbsp;
                                    </span>
                                    <span style="font-weight:normal;">
                                        {{custom.value}}
                                    </span>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
                <td colspan="2" style="font-size:24px;font-weight:bold;">
                    <table>
                        <tr>
                            <td>
                                <div>
                                    <a target="_blank" ui-sref="exchange-detail({id: coin.exchanges[1].name.toLowerCase()})">
                                        <exchange-logo exchange="coin.exchanges[1].name"></exchange-logo>
                                        &nbsp;
                                        {{coin.exchanges[1].name}}
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                        <tr>
                            <td colspan="3">
                                <div style="font-size:8px;" ng-if="coin.exchanges[1].commodityCanonicalId">[{{coin.exchanges[1].commodityCanonicalId}}]</div>
                                <div style="font-size:14px;" ng-if="coin.exchanges[0].commodityName">
                                    <a target="_blank"
                                       ui-sref="exchange-commodity-detail({exchange: coin.exchanges[1].name, nativeSymbol: coin.exchanges[1].nativeSymbol})">
                                        {{coin.exchanges[1].commodityName}} ({{coin.exchanges[1].nativeSymbol}})
                                    </a>
                                </div>
                                <div style="font-size:14px;" ng-if="coin.exchanges[1].canDeposit !== undefined && coin.exchanges[1].canDeposit !== null">
                                    Can Deposit:
                                    <i ng-if="coin.exchanges[1].canDeposit" class="fa fa-check" style="color:green;"></i>
                                    <i ng-if="!coin.exchanges[1].canDeposit" class="fa fa-close" style="color:red;"></i>
                                </div>
                                <div style="font-size:14px;" ng-if="coin.exchanges[1].canWithdraw !== undefined && coin.exchanges[1].canWithdraw !== null">
                                    Can Withdraw:
                                    <i ng-if="coin.exchanges[1].canWithdraw" class="fa fa-check" style="color:green;"></i>
                                    <i ng-if="!coin.exchanges[1].canWithdraw" class="fa fa-close" style="color:red;"></i>
                                </div>
                                <div style="font-size:14px;"
                                     ng-repeat="custom in coin.exchanges[1].customValues">
                                    <span style="font-weight:bold;">
                                        {{custom.key}}:&nbsp;
                                    </span>
                                    <span style="font-weight:normal;">
                                        {{custom.value}}
                                    </span>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
                <td></td>
            </tr>

            <tr ng-if="coin.isExpanded" style="font-weight:bold;">
                <td></td>
                <td>{{coin.exchanges[0].name}} Bid Price</td>
                <td>{{coin.exchanges[0].name}} Bid Quantity</td>
                <td>{{coin.exchanges[1].name}} Ask Price</td>
                <td>{{coin.exchanges[1].name}} Ask Quantity</td>
                <td></td>
            </tr>

            <tr ng-if="coin.isExpanded" ng-repeat="index in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] | limitTo: (coin.topDataLimit || 4)">
                <td>
                    <div ng-if="coin.exchanges[0].bids[index].price > coin.exchanges[1].asks[0].price">
                        {{(100*(coin.exchanges[0].bids[index].price - coin.exchanges[1].asks[0].price)/coin.exchanges[1].asks[0].price).toFixed(2)}} %
                    </div>
                </td>
                <td ng-class="{'goodOrderStyle': coin.exchanges[0].bids[index].price > coin.exchanges[1].asks[0].price }">
                    {{coin.exchanges[0].bids[index].price}}
                </td>
                <td ng-class="{'goodOrderStyle': coin.exchanges[0].bids[index].price > coin.exchanges[1].asks[0].price }">
                    {{coin.exchanges[0].bids[index].quantity}}
                </td>
                <td ng-class="{'goodOrderStyle': coin.exchanges[1].asks[index].price < coin.exchanges[0].bids[0].price }">
                    {{coin.exchanges[1].asks[index].price}}
                </td>
                <td ng-class="{'goodOrderStyle': coin.exchanges[1].asks[index].price < coin.exchanges[0].bids[0].price }">
                    {{coin.exchanges[1].asks[index].quantity}}
                </td>
                <td>
                    <div ng-if="coin.exchanges[0].bids[0].price > coin.exchanges[1].asks[index].price">
                        {{(100*(coin.exchanges[0].bids[0].price - coin.exchanges[1].asks[index].price)/coin.exchanges[1].asks[0].price).toFixed(2)}} %
                    </div>
                </td>
            </tr>
            <tr ng-if="coin.isExpanded && coin.topDataLimit !== undefined && coin.topDataLimit !== null" class="clickable">
                <td colspan="6" style="text-align:center" ng-click="coin.topDataLimit = 1000">V</td>
            </tr>
            <tr ng-if="coin.isExpanded && coin.topDataLimit" class="clickable">
                <td colspan="6" style="text-align:center" ng-click="coin.topDataLimit = null">^</td>
            </tr>

            <tr ng-if="coin.isExpanded" style="font-weight:bold;">
                <td></td>
                <td>{{coin.exchanges[0].name}} Ask Price</td>
                <td>{{coin.exchanges[0].name}} Ask Quantity</td>
                <td>{{coin.exchanges[1].name}} Bid Price</td>
                <td>{{coin.exchanges[1].name}} Bid Quantity</td>
                <td></td>
            </tr>

            <tr ng-if="coin.isExpanded" ng-repeat="index in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] | limitTo: (coin.bottomDataLimit || 4)">
                <td>
                    <div ng-if="coin.exchanges[1].bids[0].price > coin.exchanges[0].asks[index].price">
                        {{(100*(coin.exchanges[1].bids[0].price - coin.exchanges[0].asks[index].price)/coin.exchanges[0].asks[index].price).toFixed(2)}} %
                    </div>
                </td>
                <td ng-class="{'goodOrderStyle': coin.exchanges[1].bids[0].price > coin.exchanges[0].asks[index].price }">
                    {{coin.exchanges[0].asks[index].price}}
                </td>
                <td ng-class="{'goodOrderStyle': coin.exchanges[1].bids[0].price > coin.exchanges[0].asks[index].price }">
                    {{coin.exchanges[0].asks[index].quantity}}
                </td>
                <td ng-class="{'goodOrderStyle': coin.exchanges[1].bids[index].price > coin.exchanges[0].asks[0].price }">
                    {{coin.exchanges[1].bids[index].price}}
                </td>
                <td ng-class="{'goodOrderStyle': coin.exchanges[1].bids[index].price > coin.exchanges[0].asks[0].price }">
                    {{coin.exchanges[1].bids[index].quantity}}
                </td>
                <td>
                    <div ng-if="coin.exchanges[1].bids[index].price > coin.exchanges[0].asks[0].price">
                        {{(100*(coin.exchanges[1].bids[index].price - coin.exchanges[0].asks[0].price)/coin.exchanges[0].asks[0].price).toFixed(2)}} %
                    </div>
                </td>
            </tr>
            <tr ng-if="coin.isExpanded && !(coin.bottomDataLimit !== undefined && coin.bottomDataLimit !== null)" class="clickable">
                <td colspan="6" style="text-align:center" ng-click="coin.bottomDataLimit = 1000">V</td>
            </tr>
            <tr ng-if="coin.isExpanded && coin.bottomDataLimit" class="clickable">
                <td colspan="6" style="text-align:center" ng-click="coin.bottomDataLimit = null">^</td>
            </tr>

            <tr ng-if="coin.isExpanded" style="background-color:#000000;"><td colspan="5"></td></tr>
            <tr ng-repeat-end></tr>
        </tbody>
    </table>
    <!--
    <h4>Comps</h4>
    <table class="table table-striped">
        <thead>
            <tr style="font-size:16px; font-weight:bold;">
                <td></td>
                <td>Exchange A</td>
                <td>Exchange B</td>
                <td>Symbol</td>
                <td>Base Symbol</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="comp in model.compDefs.data">
                <td>
                    <button class="btn btn-primary"
                            ng-click="onLoadCompDataClicked(comp)">
                        Load
                    </button>
                </td>
                <td>{{comp.exchanges[0]}}</td>
                <td>{{comp.exchanges[1]}}</td>
                <td>{{comp.symbol}}</td>
                <td>{{comp.baseSymbol}}</td>
            </tr>
        </tbody>
    </table>-->
</div>